/* home section styling */
.home{
    display: flex;
    background: url("images/backgroundS.jpg") no-repeat center;
    height: 100vh;
    color: rgb(85, 84, 84);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  margin: auto 0 auto 45px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: blueviolet;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background:  rgb(171, 66, 166);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(189, 115, 155);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(171, 66, 166);
    background: none;
}